.contacts-wrapper {
    width: 100%;
    padding: 70px 0;
    background-color: #f3f3f1;;
}
.contacts-text {
    font-weight: 700;
    color: #185795;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .9px;
    margin: 0 0 30px 0;
}
.contacts-info {
    display: flex;
    margin-bottom: 70px;
}
.contacts-info__item {
    margin-right: 140px;
}
.contacts-info__text {
    font-size: 14px;
    font-weight: 400;
    font-size: 14px;
    color: #6b6c68;
    margin: 0 0 10px 0;
}
.contacts-info__info,
.contacts-info__number {
    display: block;
    color: #464744;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 2px 0;
}
.contacts-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.contacts-list__item {
    position: relative;
    margin-right: 60px;
    margin-bottom: 40px;
}
.contacts-list__item:last-child {
    margin-right: 0;
}
.contacts-list__info {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: #464744;
    line-height: 20px;
    margin: 0 0 4px 0;
}
.message-contacts,
.social-contacts {
    position: relative;
    display: flex;
}
.message-contacts li,
.social-contacts li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.message-contacts li:last-child,
.social-contacts li:last-child {
    margin-right: 0;
}