@media (max-width: 1240px) {
    .container {
        width: 968px;
    }
    .advantages-item__top h3 span {
        font-size: 26px;
    }
    .advantages-item__top h3 {
        font-size: 20px;
    }
    .employee-content::before {
        width: 240px;
        height: 200px;
    }
    .checked-list {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .checked-list__item {
        width: 45%;
        padding: 30px 15px 0 15px;
        margin-bottom: 20px;
    }
    .checked-list__item:last-child {
        padding: 30px 15px 0 15px;
    }
    .checked-list__item::before {
        left: 15px;
    }
    .methods-list__text,
    .methods-list__title {
        font-size: 14px;
    }
    .parallax {
        padding: 90px 230px 90px 0;
    }
    .slider-btn {
        top: 100%;
        transform: translateY(30px)
    }
    .slider-btn__prev {
        left: 45%;
    }
    .slider-btn__next {
        right: 45%;
    }
    .contacts-info__item {
        margin-right: 80px;
    }
    .contacts-list__item {
        width: 33%;
    }
}
@media (max-width: 992px) {
    .container {
        width: 740px;
    }
    .step-img,
    .main-img {
        display: none;
    }
    .advantages-list {
        flex-wrap: wrap;
    }
    .advantages-item {
        width: 45%;
        margin-bottom: 30px;
    }
    .advantages-item__top h3 span {
        font-size: 36px;
    }
    .employee-content__title h2,
    .advantages-item__top h3 {
        font-size: 30px;
    }
    .parallax-title,
    .advantages-item__bottom {
        font-size: 24px;
    }
    .methods-list__img {
        height: 150px;
    }
    .parallax {
        padding: 40px 150px 40px 0;
    }
    .parallax-text {
        font-size: 14px;
    }
    .parallax-text__number {
        font-size: 16px;
    }
    .parallax-btn {
        width: 200px;
    }
    .slider-btn {
        transform: translateY(40px);
    }
    .slider-btn__prev {
        left: 40%;
    }
    .slider-btn__next {
        right: 40%;
    }
    .step-content {
        padding-right: 0;
        width: 100%;
    }
    .step-list li {
        font-size: 20px;
        padding-left: 20px;
    }
    .step-list__text {
        font-size: 22px;
    }
    .step-nested-list li {
        font-size: 18px;
    }
    .contacts-text {
        font-size: 24px;
    }
    .contacts-info {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .contacts-info__item {
        width: 40%;
        margin-right: 0;
        margin-bottom: 40px;
    }
    .contacts-info__text {
        font-size: 22px;
    }
    .contacts-list__item {
        width: 100%;
    }
}
@media (max-width: 760px) {
    .container {
        width: 90%;
    }
    
    br,
    .technology-block__img::before,
    .parallax-text__none,
    .nav-btn,
    .employee-content::before {
        display: none;
    }
    .main-title {
        font-size: 36px;
        text-align: center;
    }
    .main-text {
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        margin-bottom: 30px;
    }
    .main-btn {
        margin: 0 auto;
    }
    .btn-item {
        font-size: 12px;
    }
    .advantages-item {
        padding-left: 0;
        padding-right: 0;
    }
    .advantages-item__top h3 {
        font-size: 20px;
    }
    .advantages-item__top h3 span {
        font-size: 24px;
    }
    .advantages-item__bottom {
        font-size: 16px;
    }
    .advantages-wrapper {
        margin-bottom: 40px;
    }
    .checked-list__item,
    .employee-content {
        width: 100%;
    }
    .employee-content__title h2 {
        font-size: 24px;
    }
    .steps-wrapper__title,
    .technology-title,
    .price-title,
    .checked-title {
        font-size: 30px;
    }
    .methods-list {
        flex-direction: column;
    }
    .methods-list li {
        width: 100%;
        margin-bottom: 40px;
    }
    .methods-list__title {
        font-size: 20px;
    }
    .methods-list__text {
        font-size: 18px;
    }
    .price-list li {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .price-list__title {
        margin-bottom: 20px;
    }
    .parallax {
        padding: 20px 0 20px 0;
    }
    .parallax-text {
        display: block;
    }
    .parallax-text {
        font-size: 16px;
    }
    .parallax-text__number {
        font-size: 20px;
    }
    .parallax-btn {
        margin: 20px 0 0 0;
    }
    .technology-block {
        height: auto;
    }
    .technology-block__img  {
        width: 0;
    }
    .technology-block__content {
        width: 100%;
        padding: 20px 60px 20px 20px;
    }
    .technology-content__title {
        font-size: 16px;
    }
    .slider-btn__prev {
        left: 35%;
    }
    .slider-btn__next {
        right: 35%;
    }
    .steps-wrapper {
        padding: 30px 0;
    }
    .step-list__text,
    .step-list li {
        font-size: 16px;
    }
    .step-nested-list {
        padding-left: 10px;
    }
    .contacts-info__item {
        width: 100%;
    }
    .contacts-text {
        text-align: center;
    }
    .contacts-list__title,
    .contacts-info__info,
    .contacts-list__info,
    .contacts-info__number,
    .contacts-info__text {
        font-size: 18px;
        text-align: center;
    }
    .contacts-list__item {
        padding: 40px 0 0 0;
    }
    .contacts-list__item::before {
        left: 50%;
        transform: translateX(-50%);
    }
    svg {
        width: 14px;
        height: 14px;
    }
}
@media (max-width: 400px) {
    .advantages-item {
        width: 100%;
    }
    .advantages-wrapper {
        margin-bottom: 20px;
    }
    .advantages-item__top {
        margin-bottom: 4px;
    }
    .advantages-item__bottom p {
        margin: 0;
    }
    .advantages-item__top h3 span {
        font-size: 30px;
    }
    .advantages-item__top h3 {
        font-size: 24px;
    }
    .parallax-text__number,
    .advantages-item__bottom {
        font-size: 18px;
        white-space: nowrap;
        padding: 0 4px
    }
    .parallax-text {
        font-size: 14px;
    }
}
@media (max-width: 365px) {
    .advantages-item__bottom {
        font-size: 14px;
    }
    .methods-title,
    .steps-wrapper__title,
    .technology-title,
    .price-title,
    .checked-title {
        font-size: 26px;
    }
    .slider-item__text {
        font-size: 14px;
        padding-right: 10px;
    }
} 
@media (max-width: 340px) {
    .container {
        width: 95%;
    }
    .header-logo {
        width: 100px;
        height: 60px;
    }
    .employee-content__text p,
    .header-number {
        font-size: 16px;
    }
    .main-btn {
        width: 290px;
    }
    .employee {
        padding: 20px 0 60px 0;
    }
    .employee-content__title h2 {
        font-size: 20px;
        line-height: 1.4;
        margin: 0 0 20px 0;
    }
    .parallax-title {
        text-align: center;
        font-size: 20px;
    }
    .parallax-text {
        text-align: center;
    }
    .parallax-btn {
        margin: 0 auto;
        margin-top: 20px;
    }
}




