.slider-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 70px;
}
.slider-item {
    position: relative;
    min-height: 280px;
    max-height: 280px;
    overflow: hidden;
    transition: all 0.2s;
    margin: 0 10px;
}
.slider-item__img {
    display: block;
    width: 100%;
    height: 280px;
    object-fit: cover;
    transition: all 0.2s;
}
.slider-item__title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 700;
    font-size: 18px;
    color: #185795;
    text-transform: uppercase;
    margin: 0;
    z-index: 99;
}
.slider-item__text {
    position: absolute;
    top: 55px;
    left: 20px;
    color: #ffffff;
    line-height: 24px;
    font-size: 16px;
    padding-right: 5px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.2s;
    z-index: 99;
}
.slider-item__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    z-index: 1;
}
.slider-item:hover .slider-item__img {
    filter: blur(2px);
}
.slider-item:hover .slider-item__text {
    opacity: 1;
    transform: translateY(0);
} 
.slider-item:hover .slider-item__overlay {
    opacity: 1;
}


/* btn */
.slider-btn {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}
.slider-btn__prev,
.slider-btn__next {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    cursor: pointer;
}
.slider-btn__prev {
    left: -40px;
}
.slider-btn__next {
    right: -40px;
}
.slider-btn-next-svg {
    transform: rotate(180deg);
}